<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.malta_yamto.servicesontarget26">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ActivityLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TimerServiceDemo"
            android:label="TimerServiceDemo" />

        <activity
            android:name=".ForegroundTimerServiceDemo"
            android:label="ForegroundTimerServiceDemo" />

        <activity
            android:name=".LocalTimerServiceDemo"
            android:label="LocalTimerServiceDemo" />

        <activity
            android:name=".ForegroundLocalTimerServiceDemo"
            android:label="ForegroundLocalTimerServiceDemo" />

        <activity
            android:name=".AlarmManagerDemo"
            android:label="AlarmManagerDemo" />

        <activity
            android:name=".JobSchedulerDemo"
            android:label="JobSchedulerDemo" />

        <activity
            android:name=".JobDispatcherDemo"
            android:label="JobDispatcherDemo" />

        <activity
            android:name=".JobIntentServiceDemo"
            android:label="JobIntentServiceDemo" />

        <activity android:name=".StreamServiceDemo"
            android:label="StreamServiceDemo"/>

        <service
            android:name=".service.TimerService"
            android:process=":timer_service" />

        <service
            android:name=".service.ForegroundTimerService"
            android:process=":foreground_timer_service" />

        <service android:name=".service.LocalTimerService" />

        <service android:name=".service.ForegroundLocalTimerService" />

        <service android:name=".service.RingtoneService" />

        <service android:name=".service.ForegroundDummyService" />

        <service
            android:name=".service.RingtoneJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".service.RingtoneJobDispatcherService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.RingtoneJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".service.StreamService"
            android:process=":stream_service" />

        <receiver android:name=".service.AlarmReceiver" />

    </application>

</manifest>